In [67]:
Data analytics using pandas
#import

SyntaxError: invalid syntax (<ipython-input-67-053a1b4972f7>, line 1)

In [68]:
import pandas as pd #pd will act as alias for library name
we will access all the pandas method by using the alias followed by .operator.

SyntaxError: invalid syntax (<ipython-input-68-7a96a61abc3f>, line 2)

In [5]:
names=["deep","shubhangi","jattin"]

In [6]:
names

['deep', 'shubhangi', 'jattin']

In [61]:
names=["deep","ana", "jatin"]

In [62]:
names

['deep', 'ana', 'jatin']

In [63]:
names

['deep', 'ana', 'jatin']

In [75]:
name=pd.Series(names,index=["a","b","c"])

In [76]:
name

a     deep
b      ana
c    jatin
dtype: object

In [77]:
type(name)

pandas.core.series.Series

In [79]:
#dictionary
d={"chicago":1000,"newyork":2000,"boston":3000,"austin":4000}

In [80]:
s1=pd.Series(d)

In [81]:
s1

chicago    1000
newyork    2000
boston     3000
austin     4000
dtype: int64

In [82]:
s1["chicago"]

1000

In [83]:
s1.index

Index(['chicago', 'newyork', 'boston', 'austin'], dtype='object')

In [84]:
#to change the value of particular index
s1["chicago"]=1400

In [88]:
s1["noida"]=1200

In [89]:
s1

chicago    1400
newyork    2000
boston     3000
austin     4000
noida      1200
dtype: int64

In [90]:
s1<1500

chicago     True
newyork    False
boston     False
austin     False
noida       True
dtype: bool

In [91]:
s1.isna#it is use to check null values.

<bound method Series.isna of chicago    1400
newyork    2000
boston     3000
austin     4000
noida      1200
dtype: int64>

In [94]:
s1[s1<1500]=700

In [98]:
s1

chicago     700
newyork    2000
boston     3000
austin     4000
noida       700
dtype: int64

In [95]:
s1

chicago     700
newyork    2000
boston     3000
austin     4000
noida       700
dtype: int64

In [92]:
s1/3

chicago     466.666667
newyork     666.666667
boston     1000.000000
austin     1333.333333
noida       400.000000
dtype: float64

In [101]:
s1[1:5]

newyork    2000
boston     3000
austin     4000
noida       700
dtype: int64

In [100]:
s1

chicago     700
newyork    2000
boston     3000
austin     4000
noida       700
dtype: int64