In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.DataFrame(np.random.rand(5,4),index=['A','B','C','D','E'] ,columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [8]:
df.rename(columns={"W":"f"})

          f         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [9]:
df.rename(index={"A":"a","B":"1"})

          W         X         Y         Z
a  0.937243  0.209896  0.879109  0.261940
1  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [10]:
df

          W         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [11]:
df.describe()

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.715836  0.377076  0.488694  0.486702
std    0.213093  0.216966  0.413784  0.311895
min    0.432890  0.109499  0.032905  0.259216
25%    0.558431  0.209896  0.062629  0.261940
50%    0.781665  0.402067  0.628550  0.284479
75%    0.868953  0.536291  0.840275  0.687878
max    0.937243  0.627629  0.879109  0.940000

In [12]:
df

          W         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [13]:
df["X"]

A    0.209896
B    0.109499
C    0.402067
D    0.627629
E    0.536291
Name: X, dtype: float64

In [14]:
df[["X","Y","Z"]]

          X         Y         Z
A  0.209896  0.879109  0.261940
B  0.109499  0.062629  0.940000
C  0.402067  0.628550  0.259216
D  0.627629  0.840275  0.687878
E  0.536291  0.032905  0.284479

In [15]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [16]:
df

          W         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
C  0.432890  0.402067  0.628550  0.259216
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [17]:
df.drop("C")

          W         X         Y         Z
A  0.937243  0.209896  0.879109  0.261940
B  0.558431  0.109499  0.062629  0.940000
D  0.781665  0.627629  0.840275  0.687878
E  0.868953  0.536291  0.032905  0.284479

In [18]:
df1=pd.DataFrame(np.random.rand(5,4),index=['A','B','C','D','E'] ,columns='W X Y Z'.split())

In [19]:
df1

          W         X         Y         Z
A  0.689366  0.658852  0.678469  0.552801
B  0.197065  0.642858  0.766176  0.773593
C  0.228851  0.919996  0.481842  0.363014
D  0.742543  0.665112  0.083055  0.298033
E  0.447866  0.929782  0.940359  0.230757

In [21]:
df1.loc["A":"D"]

          W         X         Y         Z
A  0.689366  0.658852  0.678469  0.552801
B  0.197065  0.642858  0.766176  0.773593
C  0.228851  0.919996  0.481842  0.363014
D  0.742543  0.665112  0.083055  0.298033

In [22]:
df1.loc["A":"D","Y"]

A    0.678469
B    0.766176
C    0.481842
D    0.083055
Name: Y, dtype: float64

In [23]:
df1.iloc[0:3,1:3]

          X         Y
A  0.658852  0.678469
B  0.642858  0.766176
C  0.919996  0.481842